.container {
    width: 600px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    border: 3px dotted #9e4d4d;
    padding: 10px;
    margin: 50px 20px 30px;
    border-radius: 30px;
}

body {
    font-family: sans-serif;
    background-color: #ffd9d9;
    color: #946464;
    margin: 0;
}

img {
    border-radius: 20px;
}

.photo {
    position: relative;
    left: 40px;
    z-index: -1;
}

/*.name {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    background-color: #e7b1b1;
}*/

.photo img {
    max-width: 100%;
    height: auto;
}

.photo {
    width: 160px;
    height: 190px;
    margin: 0 auto 50px;
    overflow: hidden;
}

.top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    background-color: #d38989;
    border-radius: 50%;
    text-align: center;

}

.work-item {
    position: relative;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    border: 1px solid #946464;
    padding: 20px;
    box-sizing: border-box;
    line-height: 0;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 400px;
    background-color: #ffeeee;
}

.work-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.work-item img:hover {
    filter: blur(2px);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    opacity: 0;
    pointer-events: none;
}

.work-item:hover .overlay {
    opacity: 1;
}